/* index file */
#Education{
    background-color: aqua;
    border: 1px solid black;
}
.Degree{
    background-color: #f0f0f0;
            border: 1px solid black;
            border-collapse: coll;
            
            
            text-align: center;
    
    
}
/* skills file */
#skills{
    background-color: beige;
    border: 1px solid black;
}
